In [1]:
from src import space
import json

In [2]:
space.set_project(name="ct scan tumor model", created_by='nishanth', description='hello')

Project ct scan tumor model - (ID: 75344087-1bd8-4008-896a-1d615f4f4943) created successfully

In [3]:
space.set_experiment(name="experiment 1",created_by='nishanth')

Experiment experiment 1 - (ID: 2eef2760-eff6-4276-97bd-87c8c532b771) created successfully

In [4]:
# Split the data into features and target and drop irrelevant date field and target field
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

data =pd.read_csv("apples.csv")

X = data.drop(columns=["date", "demand"])
y = data["demand"]

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
space.start_run(name="run1")

Run run1 - (ID: b2e7e8af-0934-4e83-8fab-1bba2a1862ff) created successfully

In [6]:
params = {
    "n_estimators": 100,
    "max_depth": 6,
    "min_samples_split": 10,
    "min_samples_leaf": 4,
    "bootstrap": True,
    "oob_score": False,
    "random_state": 888,
}
space.log_hyperparameters(value = params)

'hyperparameter : n_estimators' logged (ID: 6d0e8096-44e0-444a-be9b-cd400b01e026)
'hyperparameter : max_depth' logged (ID: 674759d7-c2ae-4b1e-a4cd-07c9f182c8ee)
'hyperparameter : min_samples_split' logged (ID: 54fb0dae-0c53-4dc2-9ecf-c66c975c3097)
'hyperparameter : min_samples_leaf' logged (ID: 0fd0fd9a-5e2f-413c-a438-5657fa1d5171)
'hyperparameter : bootstrap' logged (ID: ce872235-aab3-4df9-b280-8ec354355114)
'hyperparameter : oob_score' logged (ID: ed58c147-b406-45ec-bb25-dfe4e6c2d24b)
'hyperparameter : random_state' logged (ID: 63ab57f8-1d8e-4bdb-8754-54388ef0d65c)

In [7]:

import numpy as np

# Train the RandomForestRegressor
rf = RandomForestRegressor(**params)

# Fit the model on the training data
rf.fit(X_train, y_train)

# Predict on the validation set
y_pred = rf.predict(X_val)

# Calculate error metrics
mae = mean_absolute_error(y_val, y_pred)
mse = mean_squared_error(y_val, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_val, y_pred)

# Assemble the metrics we're going to write into a collection
metrics = {"mae": mae, "mse": mse, "rmse": rmse, "r2": r2}

In [8]:
space.log_metrics(value = metrics)

'metric : mae' logged (ID: d07ec3bb-2e9d-4d96-8b41-b8133f994f7f)
'metric : mse' logged (ID: 19e1bf37-b014-4b5f-8c84-43abd22c9bf8)
'metric : rmse' logged (ID: 7e16c1d6-2438-4937-8476-cbaad9cb43bc)
'metric : r2' logged (ID: 847c0dee-5a39-44bf-a629-80188e6b1d1f)

In [9]:
space.log_metrics(name="mape", value=0.15)

'metric : mape' logged (ID: 874b2b1d-ea66-488b-85e1-0b0c4088e5c8)

In [10]:
space.log_artifacts(name="data", path="apples.csv", artifact_type="data")

'artifact : data' logged (ID: c3fea473-8640-465c-b082-fab21f88f9db)

In [11]:
space.stop_run()

In [12]:
space.get("ee1703cc-a399-48d0-accf-6c0030cf4156")

In [13]:
run => {
    hyperparamter : {
        name: value,
        name: value,
        name: value
    },
    metric : {
        name:value
    },
    artifact: {
        name: value
    }
    
}

SyntaxError: invalid syntax (4106290902.py, line 1)

In [15]:
space.get_hyperparameters(run_name="run1", as_dataframe = True)

,created_at,last_updated,name,created_by,description,tags,value,type
0,2025-01-12 16:59:38,2025-01-12 16:59:38,n_estimators,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],100,hyperparameter
1,2025-01-12 16:59:38,2025-01-12 16:59:38,max_depth,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],6,hyperparameter
2,2025-01-12 16:59:38,2025-01-12 16:59:38,min_samples_split,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],10,hyperparameter
3,2025-01-12 16:59:38,2025-01-12 16:59:38,min_samples_leaf,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],4,hyperparameter
4,2025-01-12 16:59:38,2025-01-12 16:59:38,bootstrap,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],True,hyperparameter
5,2025-01-12 16:59:38,2025-01-12 16:59:38,oob_score,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],False,hyperparameter
6,2025-01-12 16:59:38,2025-01-12 16:59:38,random_state,b2e7e8af-0934-4e83-8fab-1bba2a1862ff,,[],888,hyperparameter

In [16]:
space.get_best_run(experiment_name="experiment 1", metric_name="mae", objective="minimize")

No runs found for experiment 'experiment 1'. Skipping.
No suitable runs found.

Empty DataFrame
Columns: []
Index: []